#footer {
  background-color: #4682B4; /* Azul Médio para Contraste */
  color: #fff;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D3D3D3; /* Cinza Médio para Bordas e Separadores */
}
