#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4682B4; /* Azul Médio para Contraste */
  border-bottom: 1px solid #D3D3D3; /* Cinza Médio para Bordas e Separadores */
  padding: 0.5em 1em;
  color: #fff;
}

.navbar-title {
  font-size: 1.5em; /* Tamanho da fonte */
  font-weight: bold; /* Peso da fonte */
  color: #ffcc00; /* Cor do título */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra do texto para destacar */
  text-decoration: none; /* Remover sublinhado do link */
}

#search-form {
  position: relative;
  width: 25%;
}

#search-form svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #888;
}

#search-form input {
  padding-left: 40px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links li {
  margin-right: 1.5em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
  color: #fff;
}

#nav a {
  color: #fff;
}

#nav-logo {
  height: 60px;
  width: auto;
}
